:root {
  --darkGrey: #1f2130;
  --purple: #9d60f2;
  --hoverPurple: #7d3dd7;
  --white: white;
  --black: black;
  --textGrey: rgb(243, 237, 237);
  --yellow: #fbc256;
  --darkYellow: #f7b842;
}

.pet-view-card {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  border: 1px solid var(--darkYellow);
  width: 310px;
}

.pet-card-pic {
  max-width: 250px;
  min-width: 250px;
}

.pet-card-pic img {
  width: 310px;
  height: 180px;
  object-fit: cover;
}

.pet-card-details {
  padding: 5px 10px;
}

.pet-card-details h2 {
  font-family: "Varela Round", sans-serif;
  color: var(--darkYellow);
  text-align: center;
  margin: 5px 0;
}

.pet-card-details p {
  font-family: "Varela Round", sans-serif;
  color: var(--darkYellow);
}

.show-interest-btn {
  display: flex;
  justify-content: center;
}

.show-interest-btn button {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  padding: 8px 15px;
  color: var(--white);
  background-color: var(--yellow);
}

.show-interest-btn button:hover {
  cursor: pointer;
  background-color: var(--darkYellow);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.close-btn i {
  margin-left: 5px;
}
