* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #9D60F2;
    --white: white;
    --black: black;
}

.navbar-container {
    width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

.navbar-logo {
    margin-left: 10px;
    width: 54px;
}

.logo-container {
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container > p {
    font-family: 'Oxygen', sans-serif;
    margin-left: 10px;
    font-size: 29px;
}

.navbar-links li{
    display: inline;
    margin: 0 10px;
}

.navbar-links li > *{
    text-decoration: none;
    border: 2px var(--white) solid;
    padding: 5px 15px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    color: var(--black);
}

.navbar-links li > *:hover {
    border: 2px var(--purple) solid;
    background-color: var(--purple);
    color: var(--white);
    box-shadow: 1.5px 1.5px 3px var(--purple);
}

.Navbar-button {
    border: 2px var(--purple) solid;
    height: 42px;
    width: 105px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: var(--purple);
    color: var(--white);
    box-shadow: 1.5px 1.5px 3px var(--purple);
}

.Navbar-button:hover {
    border: 2px var(--purple) solid;
    background-color: var(--white);
    color: var(--purple);
    transition: all 0.3s ease;
    cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-container > * {
    margin-bottom: 10px;
  }
}
