:root {
  --darkGrey: #1f2130;
  --purple: #9d60f2;
  --hoverPurple: #7d3dd7;
  --white: rgb(255, 255, 255);
  --black: black;
  --textGrey: rgb(237, 233, 233);
  --yellow: #fbc256;
  --darkYellow: #f7b842;
  --blueBtn: #3498db;
  --blueBtnhover: #2980b9;
}

.adopt-section {
  text-align: center;
  padding: 50px;
}

.adopt-section h2 {
  font-family: "Varela Round", sans-serif;
  padding-bottom: 10px;
  color: var(--darkYellow);
  border-bottom: 2px solid var(--darkYellow);
  font-size: 32px;
  margin-bottom: 20px;
}

.adopt-section img {
  margin: 15px 0;
  max-width: 60%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.adopt-section p {
  font-family: "Varela Round", sans-serif;
  color: var(--darkGrey);
  font-size: 16px;
  margin-bottom: 20px;
}

.adopt-section h3 {
  color: var(--darkYellow);
  font-size: 20px;
  margin-top: 20px;
}

.adopt-section ul {
  font-family: "Varela Round", sans-serif;
  color: var(--darkGrey);
  list-style: none;
  padding-left: 20px;
}

.adopt-section ol {
  font-family: "Varela Round", sans-serif;
  color: var(--darkGrey);
  list-style: none;
  padding-left: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: var(--yellow);
  color: var(--white);
  text-decoration: none;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
}

.cta-button:hover {
  background-color: var(--darkYellow);
  cursor: pointer;
  transition: all 0.5s;
}
