:root {
  --darkGrey: #1f2130;
  --purple: #9d60f2;
  --hoverPurple: #7d3dd7;
  --white: rgb(255, 255, 255);
  --black: black;
  --textGrey: rgb(237, 233, 233);
  --yellow: #fbc256;
  --darkYellow: #f7b842;
  --blueBtn: #3498db;
  --blueBtnhover: #2980b9;
}

.post-pet-section {
  text-align: center;
  padding: 50px;
}

.post-pet-section h2 {
  font-family: "Varela Round", sans-serif;
  padding-bottom: 10px;
  color: var(--darkYellow);
  border-bottom: 2px solid var(--darkYellow);
  font-size: 32px;
  margin-bottom: 20px;
}

.post-pet-section img {
  max-width: 60%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-pet-section p {
  font-family: "Varela Round", sans-serif;
  color: var(--darkGrey);
  font-size: 16px;
  margin-bottom: 20px;
}

.post-pet-section h3 {
  font-family: "Varela Round", sans-serif;
  color: var(--darkYellow);
  font-size: 20px;
  margin-top: 20px;
}

.post-pet-section label {
  font-family: "Varela Round", sans-serif;
  color: var(--darkYellow);
  font-weight: bold;
  display: block;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-pet-section input[type="text"],
.post-pet-section input[type="email"],
.post-pet-section input[type="tel"],
.post-pet-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
  margin: 7px 0;
}

.post-pet-section textarea {
  resize: vertical;
}

.filter-selection-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.filter-selection-service select {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  padding: 8px 8px;
  color: var(--white);
  background-color: var(--yellow);   
}

.cta-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: var(--yellow);
  color: var(--white);
  text-decoration: none;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: var(--darkYellow);
  cursor: pointer;
  transition: all 0.5s;
}

.m-b {
  margin-bottom: 20px;
}

.file-input-label {
  display: inline-block;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  padding: 8px 20px;
  color: var(--white);
  background-color: var(--yellow);
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 165px;
  overflow: hidden;
  max-height: 33px;
}

.file-input-label:hover {
  background-color: var(--darkYellow);
}

.file-input {
  display: none;
}

.file-input-text {
  display: inline-block;
  color: var(--white);
  margin-right: 10px;
}
